*{
    background: #E5E5E5;;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    overflow-y: hidden;
}

.logo{
    padding-top: 10px;
    margin-left: 0px;
    width: 10%;
}

/* Aca se pone lado a lado las secciones */
main{
    display: flex;
    margin-bottom: 10px;
    margin-left: 180px;
}

.msg {
    resize: none;
    height: 400px;
    border: none;
    color: #0A3871;
    margin-top: 30px;
    padding: -2px;
    text-transform: lowercase;
}
::placeholder {color:#0A3871;}
.msg:focus{
    outline: none;
}

.msg-encriptado{
    resize: none;
    background: #FFFFFF;
    background-image: url("./imagenes/Muñeco.png");
    background-repeat: no-repeat;
    border: none;
    border-radius: 24px;
    color: #495057;
    margin-left: 98px;
    margin-top: 20px;
    position: fixed;
}
.msg-encriptado:focus{
    outline: none;
}

.informacion{
    color: #495057;
    opacity: 0.8;
    font-size: 18px;
}

.botones{
    display: flex;
    margin-top: 18px;   
}

.b-encriptar{
    background-color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #FFFFFF;
    cursor: pointer;
    height: 67px;
    width: 328px;
}
.b-desencriptar{
    background-color: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;
}

.b-copiar{
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 60px;
    margin-left: 108px;
    margin-top: 402px;
    position: absolute;
    width: 310px;
}

@media  screen and (max-width: 768px){
    main {
        flex-direction: column;
        margin-left: 0;
    }

    .botones{
        margin-top: 4%;   
    }
    
    .b-desencriptar{
        height: 42px;
        width: 30%;
        font-size: 18px;
    }
    .b-encriptar{
        height: 42px;
        width: 30%;
        margin-left: 17%;
        font-size: 18px;
    }

    .b-copiar{
        margin-top: 120px;
        margin-left: 36%;
        height: 40px;
        width: 140px;
        font-size: 20px;
    }

    .msg-encriptado{
        margin-top: 5%;
        background-image: none;
        width: 88%;
        margin-left: 4%;
        margin-right: 10%;
        height: 150px;
    }
    .msg {
        margin-top: 20px;
        margin-left: 4%;
        width: 90%;
    }
}